.btn-group .button {
  background-color: #ffffff;
  border: 1px solid white;
  color: black;
  border-radius: 10px;
  padding: 5px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  float: left;
}

.btn-group .button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.btn-group .button:hover {
  background-color: #F5E4C8;
}
</style>

<div class="btn-group">
<button class="button"><a href="https://curriculum.ncnu.edu.tw/var/file/49/1049/img/394/384663821.pdf">
<img src="https://curriculum.ncnu.edu.tw/var/file/49/1049/img/423/302267304.png" width="170" /></a></button>

<button class="button"><a href="https://curriculum.ncnu.edu.tw<p>一、學程名稱：3D&nbsp;數位創新與文化創意應用人才養成學分學程<br />
二、辦理單位：本校管理學院資訊管理學系<br />
三、學程開始學期：1092學期<br />
四、招生對象：學士班學生<br />
五、收費方法：學士班：不收費。碩、博士班：依本校學分費收費標準<br />
六、學程設立宗旨：本學程透過跨領域課程之設計，結合文化資產、文創產業、以及數位創新科技應用領域，協助培養在技能面具有數位內容製作與創新產品設計技能，在文化面具有文化資產知識與文創產業應用構想的人才。通過學程訓練的學生將具有創意產業與&nbsp;3D&nbsp;科技應用技能，並可運用在文化資產與文化創意產業主題上。<br />
七、課表查詢：<a href="https://drive.google.com/file/d/1eFuNY_S07G2L0-Ozq1xp7qccLQJBhaiE/view?usp=sharing" rel="noopener" target="_blank"><span style="color:#e67e22;">請點此查詢</span></a></p>
<style type="text/css">table {
        border-collapse: collapse;
        border: 0px solid #cdcdcd;
        /*字體大小及字型*/
        font: normal 10px arial;
        /*表格寬度*/
        width: 100%;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    td,
    th {
        /*表格框線寬度及顏色*/
        border: 0px solid #cdcdcd;
        padding: 4px;
    }

    @media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px) {

        table,
        thead,
        tbody,
        th,
        td,
        tr {
            display: block;
        }

        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        tr {
            border-bottom: 2px solid #690461;
        }

        td {
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 3% !important;
            text-align: center !important;
        }

        td:before {
            position: absolute;
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
            font-weight: bold;
        }
    }
.btn-group .button {
  background-color: #ffffff;
  border: 1px solid white;
  color: black;
  border-radius: 10px;
  padding: 5px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  float: left;
}

.btn-group .button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.btn-group .button:hover {
  background-color: #F5E4C8;
}
</style>



<div class="btn-group">
<button class="button"><a href="https://curriculum.ncnu.edu.tw/var/file/49/1049/img/394/384663821.pdf">
<img src="https://curriculum.ncnu.edu.tw/var/file/49/1049/img/423/302267304.png" width="170" /></a></button>

<button class="button"><a href="https://curriculum.ncnu.edu.tw/var/file/49/1049/img/394/190808210.pdf"><img src="https://curriculum.ncnu.edu.tw/var/file/49/1049/img/423/443118325.png" width="170" /></a></button>

<button class="button"><a href="https://curriculum.ncnu.edu.tw/var/file/49/1049/img/394/150499121.pdf"><img src="https://curriculum.ncnu.edu.tw/var/file/49/1049/img/423/660314486.png" width="170" /></a></button>

<button class="button"><a href="https://curriculum.ncnu.edu.tw/var/file/49/1049/img/394/859235572.pdf"><img src="https://curriculum.ncnu.edu.tw/var/file/49/1049/img/423/756585412.png" width="170" /></a></button>

<button class="button"><img src="https://curriculum.ncnu.edu.tw/var/file/49/1049/img/423/834519979.png" width="170" /></button></div>

<p>&nbsp;</p>
<p>&nbsp;</p>"><img src="https://curriculum.ncnu.edu.tw/var/file/49/1049/img/423/443118325.png" width="170" /></a></button>

<button class="button"><a href="https://curriculum.ncnu.edu.tw/var/file/49/1049/img/394/150499121.pdf"><img src="https://curriculum.ncnu.edu.tw/var/file/49/1049/img/423/660314486.png" width="170" /></a></button>

<button class="button"><a href="https://curriculum.ncnu.edu.tw/var/file/49/1049/img/394/859235572.pdf"><img src="https://curriculum.ncnu.edu.tw/var/file/49/1049/img/423/756585412.png" width="170" /></a></button>

<button class="button"><img src="https://curriculum.ncnu.edu.tw/var/file/49/1049/img/423/834519979.png" width="170" /></button></div>

<p>&nbsp;</p>
<p>&nbsp;</p>